body, h1, p {
    margin: 0;
    padding: 0;
}


.profile-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: aqua;
    margin-top: 10px;
}


.profile-picture img {
    height: 90%;
    width: 90%;
}

.profile-info {
    flex-grow: 1;
}

h1 {
    font-size: 100px;
    margin-bottom: 10px;
}

p {
    font-size: 30px;
}